.heading {
  white-space: pre-wrap;
  flex: 1;

  &.center {
    text-align: center;
  }

  H1 {
    white-space: pre-wrap;
  }

  &.small H1 {
    font-size: 18px;
    line-height: 25px;
  }

  .heading-description {
    font-weight: @font-regular;
    font-size: 15px;
    color: @light-color;
    letter-spacing: 0;
    margin-bottom: 14px;
    white-space: pre-wrap;
  }

  .heading-icon {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
