body .ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.40);
}

.close-popin-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
