.news-row:before {
  content: ' ';
  width: 1px;
  height: calc(100% - 20px);
  background: #0053FA;
  position: absolute;
  left: 11px;
  top: 33px;
}

.news-row:last-child:before {
  content: none;
}

.news-row svg {
  margin: 5px 8px 0 0;
  width: 20px;
  height: 20px;
}

.news-row .value {
  font-weight: @font-medium;
  font-size: 14px;
  color: #0D1B2A;
  letter-spacing: 0;
}

.news-row .through {
  font-weight: @font-medium;
  font-size: 12px;
  color: #989CA8;
  letter-spacing: 0;
}

.news-row .date {
  font-weight: @font-semi-bold;
  font-size: 12px;
  color: #989CA8;
  letter-spacing: 0;
}
