.ant-alert {
  border: 0 !important;
  border-radius: 0 !important;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF !important;
  letter-spacing: 0;

  .ant-alert-success {
    background: transparent;

    .ant-alert-message {
      color: #5DBE42;
    }
  }

  .ant-alert-success,
  .ant-alert-error {
    &:not(.background) {
      padding: 15px 0;
      background: transparent;
    }
  }
}

.ant-alert.ant-alert-error .ant-alert-message {
  color: #F0455A;
}
.ant-alert .ant-alert-message a {
  text-decoration: underline;
}

.ant-alert.ant-alert-success.background {
  background: #5DBE42 !important;
}

.ant-alert.ant-alert-error.background {
  background: #F0455A !important;
}

.ant-alert.background .ant-alert-message {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.ant-alert-close-icon {
  background: rgba(0,0,0,0.20);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
}

.ant-alert-close-icon .anticon-close {
  color: white !important;
}
