.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.Background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
  border-radius: 50%;
  height: 200vh;
  width: 200%;
  transform: translate3d(-57%, -50vh, 0);
}
