.proof-outer {

  .document-proof {
    display: flex;
    margin: 10px 0;
    align-items: center;

    svg {
      margin-right: 10px;
    }

    .document-proof-remove {
      margin-left: 10px;
      padding: 10px;
      cursor: pointer;

      svg {
        color: @light-red;
      }
    }
  }
}

.proof-preview {
  border-radius: 10px;
  border: 1.6px dashed @primary-color;
  overflow: hidden;
  background: #FFFFFF;
  width: 100%;
  height: 150px;
  position: relative;
  margin-bottom: 24px;

  .preview-content > * {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .proof-preview-close {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0px;
    width: 25px;
    height: 25px;
    padding: 8px;
    cursor: pointer;
  }
}

.proof-wrapper {
  width: 100%;
  height: 150px;
}
