.sign-wrapper {
  height: 100%;
  max-width: 300px;

  @media @tablet-down {
    text-align: center;
  }

  .signin-submit .ant-btn.ant-btn-primary {
    @media @tablet-down {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.signup-wrapper .sign-wrapper {
  max-width: 500px;
  margin-right: 50px;
}

.sign-wrapper .form-item-input {
  margin-bottom: 19px;
}

.sign-wrapper .form-item-checkbox {
  margin-bottom: 5px;
  line-height: 16px;
}

.sign-wrapper .form-item-checkbox .ant-form-item-control,
.sign-wrapper .form-item-checkbox label {
  line-height: 16px;
}

.Background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
  border-radius: 50%;
  height: 200vh;
  width: 200%;
  -webkit-transform: translate3d(-57%,-50vh,0);
  transform: translate3d(-57%,-50vh,0);
}

.img-login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}
